@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container {
    border: 2px solid black;
    padding: 40px;
    margin: 200px;
    text-align: left;
}

.paragraph {
    font-style: italic;
}
img {
    height: 400px;
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    font-size: x-large;
}

.sub-heading {
    padding-top: 10px;
    padding-bottom:10px;
}

.list1, .list2 {
    padding-top: 10px;
    padding-bottom: 10px;
}